body {
  font-family: "Poppins", sans-serif;
}

.hero-bg {
  background-image:
    linear-gradient(rgba(14, 42, 94, 0.85), rgba(14, 42, 94, 0.7)),
    url("img/banner-img.png");
  background-size: contain;
  background-position: 0% 50%;
  position: relative;
}

.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #01a7c9;
  background: linear-gradient(
    273deg,
    rgba(1, 168, 201, 0.133) 0%,
    rgba(64, 117, 174, 1) 48%,
    rgba(38, 58, 145, 1) 100%
  );
}

.form-bg {
  background-image: url("img/form-bg.webp");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

/* 
        .form-bg::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1e3c7e;
            opacity: .8;
        } */

.mobile-menu {
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-hidden {
  transform: translateX(100%);
}

.mobile-menu-visible {
  transform: translateX(0);
}

.overlay {
  transition: opacity 0.3s ease-in-out;
}

.overlay-hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay-visible {
  opacity: 1;
  pointer-events: auto;
}

.hamburger-line {
  transition: all 0.3s ease-in-out;
}

.hamburger-active .hamburger-line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-active .hamburger-line-2 {
  opacity: 0;
}

.hamburger-active .hamburger-line-3 {
  transform: rotate(-45deg) translate(7px, -6px);
}

.multiselect-dropdown {
  position: relative;
}

.multiselect-options {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.multiselect-options.open {
  max-height: 300px;
  overflow-y: auto;
}

.multiselect-checkbox:checked + label {
  background-color: #fef3c7;
  color: #f97316;
}
